@use 'reset';
@use 'variables';
@use 'mixins';
@use 'buttons';
@use 'breakpoints';

body {
    background-color: variables.$primaryColor;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.title-big {
    @include mixins.title-big(24px);

    @media (#{breakpoints.$breakpointDesktop}) {
        @include mixins.title-big()
    }
}

.title {
    @include mixins.title();
}

.title-small {
    @include mixins.title-small() 
}

.subtitle {
    @include mixins.subtitle(1rem);

    @media (#{breakpoints.$breakpointDesktop}) {
        @include mixins.subtitle()
    }
}

.text-small {
    @include mixins.text-small(.875rem); 

    @media (#{breakpoints.$breakpointDesktop}) {
        @include mixins.text-small() 
    }
}

.text-big {
    @include mixins.text-big(13.5px);

    @media (#{breakpoints.$breakpointDesktop}) {
        @include mixins.text-big()
    }
}

.container {
    margin: auto;
    width: 90vw;

    @media (#{breakpoints.$breakpointDesktop}) {
        max-width: 546px;
    }

    &--nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        justify-self: end;
        margin-bottom: 4px;

        @media (#{breakpoints.$breakpointDesktop}) {
            margin: auto auto 12px auto;
            width: 100%;
        }
    }

    &--security {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 40px;

        @media (#{breakpoints.$breakpointDesktop}) {
            max-width: 550px;
            margin: 32px auto auto auto;
        }
    }
}

.nav {
    background-color: variables.$primaryColor;
    display: flex;
    flex-direction: column;
    
    @media (#{breakpoints.$breakpointDesktop}) {
        width: 100%;
        height: 116px;
        border-bottom: .5px solid variables.$primaryStrokeColor;
    }

    &--security {
        height: 52px;
        border-bottom: .5px solid variables.$primaryStrokeColor;

        @media (#{breakpoints.$breakpointDesktop}) {
            height: 64px;
        }
    }

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 4px 4px 4px 8px;
        margin-bottom: 14px;

        @media (#{breakpoints.$breakpointDesktop}) {
            padding: 8px;
        }

        .nav__brand {
            display: flex;
            align-items: center;
            gap: 4px;
            height: 48px;
            padding: 0px 0px 0px 12px;

            &-icon {
                width: 74px;
                height: 24px;
            }

            &-title {
                color: variables.$brandTitleColor;
                height: 27.5px;
                font-family: "Product Sans", Arial, sans-serif;
                letter-spacing: -0.2px;
                cursor: pointer;
            }
        }
    }

    &__actions {
        height: 48px;
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 0px 10px 0px 0px;

        &__icon {

            &--avatar {
                width: 32px;
                height: 32px;
                background-color: variables.$primaryTextColor;
                border-radius: 50%;
                background-image: url('https://lh3.googleusercontent.com/ogw/AF2bZyhvHq1tzCEg1001HbHCREiyTzC57As_aUkN1V1c8vcMMqA=s32-c-mo');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    &__link {
        margin-right: 16px;
        display: flex;
        align-items: center;

        &__icon {
            height: 24px;
            width: 24px;
        }
    }

    &__title {
        color: variables.$secondaryTextColor;
    }
}

.message {
    margin-top: 32px;
    color: variables.$primaryTextColor;
    margin-bottom: 20px;

    @media (#{breakpoints.$breakpointDesktop}) {
        margin-bottom: 28px;
    }

    &__text {
        max-width: 552px;
        margin-bottom: 16px;

        @media (#{breakpoints.$breakpointDesktop}) {
            margin-bottom: 8px;  
        }        
    }

    &__link {
        color: variables.$linkColor;
        text-decoration: none;
    }
}

.item {
    width: 100%;
    min-height: 104px;
    border-radius: 10px;
    border: .5px solid variables.$secondaryStrokeColor;
    padding: 12px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;


    &__icon {
        position: absolute;
        top: 16px;
        left: 20px;
        width: 72px;
        height: 72px;;

        @media (#{breakpoints.$breakpointDesktop}) {
            display: block;
        }

        &--desktop {
            background: no-repeat url(https://www.gstatic.com/identity/boq/accountsettingssecuritycommon/images/sprites/devices_realistic_72-b9bd1ca60228ef0457a37afb84e72bdd.png) 0 -1460px;
            background-size: 72px 1532px;
        }

        &--mobile {
            background: no-repeat url(https://www.gstatic.com/identity/boq/accountsettingssecuritycommon/images/sprites/devices_realistic_72-b9bd1ca60228ef0457a37afb84e72bdd.png) 0 -657px;
            background-size: 72px 1532px;
        }
    }

    &__title {
        width: 240px;
        top: 16px;
        left: calc(12px + 20px + 72px);
        margin-top: 14px;
        margin-bottom: 20px;
        position: absolute;
        color: variables.$tertiaryTextColor;
        display: none;
        
        @media (#{breakpoints.$breakpointTablet}) {
            width: 120px;
            display: block;
        }

        @media (#{breakpoints.$breakpointDesktop}) {
            display: block;
        }
    }

    &__content {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (#{breakpoints.$breakpointTablet}) {
            width: 100%;
        }

        @media (#{breakpoints.$breakpointDesktop}) {
            width: 250px;
        }

        &__main {   
            width: 140px;
            display: flex;
            flex-direction: column;

            @media (#{breakpoints.$breakpointTablet}) {
                width: 50%;
            }
            
            @media (#{breakpoints.$breakpointDesktop}) {
                width: 140px;
            }

            .device {
                color: variables.$tertiaryTextColor;
                line-height: 17px;
            }

            .local {
                color: variables.$primaryTextColor;
            }

            .browser {
                color: variables.$primaryTextColor;
            }

            .section {
                color: variables.$primaryTextColor;
                display: flex; 
                align-items: center;
                gap: 4px;
                margin-top: 8px;

                &--danger {
                    color: variables.$primaryDangerColor;
                }
            }
        }

        &__aside {
            width: 100px;
            display: flex;
            justify-content: flex-end;

            @media (#{breakpoints.$breakpointDesktop}) {
                width: 110px;
            }
        }
    }

    .stroke {
        width: 240px;
        height: 1px;
        background-color: variables.$secondaryStrokeColor;
        margin: 12px 0px;

        @media (#{breakpoints.$breakpointTablet}) {
            width: calc(50% + 100px);
        }

        @media (#{breakpoints.$breakpointDesktop}) {
            width: 250px;
        }
    }

    .activity-icon {
        width: 14px;
        height: 14px;
    }
}

.status {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: variables.$tertiaryGreenColor;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (#{breakpoints.$breakpointDesktop}) {
        width: 88px;
        height: 88px;
    }

    &--danger {
        background-color: variables.$secondaryDangerColor;
    }

    &__icon {
        width: 38px;
        height: 50.5px;
    }

    &__title {
        margin-top: 16px;
        margin-bottom: 2px;
        color: variables.$secondaryTextColor;
    }

    &__subtitle {
        margin-bottom: 26px;
        color: variables.$primaryTextColor;

        @media (#{breakpoints.$breakpointDesktop}) {
            margin-bottom: 28px;
        }
    }
}

.accordions {
    width: 100%;

    .accordion {
        width: 100%;
        height: 72px;
        display: flex;
        border-top: .5px solid variables.$secondaryStrokeColor;
        align-items: center;
        justify-content: left;

        &:nth-child(5) {
            border-bottom: .5px solid variables.$secondaryStrokeColor;
        }

        @media (#{breakpoints.$breakpointDesktop}) {
            border: 1px solid variables.$secondaryStrokeColor;
            justify-content: inherit;

            &:first-child {
                border-radius: 10px 10px 0px 0px;
            }
        
            &:nth-child(5) {
                border-radius: 0px 0px 10px 10px;
            }
        }
    
        &__head {
            width: 100%;

            @media (#{breakpoints.$breakpointDesktop}) {
                width: 80%;
            }

            &__title {
                color: variables.$secondaryTextColor;
            }

            &__subtitle {
                color: variables.$primaryTextColor;

                &--danger {
                    color: variables.$primaryDangerColor;
                }
            }
        }
    
        &__left-icon {
            width: 24px;
            height: 24px;
            margin: 24px;
        }
    
        &__right-icon {
            width: 16px;
            height: 16px;
            margin-right: 24px;

            @media (#{breakpoints.$breakpointDesktop}) {
                margin: 0px;
            }
        }
    }
}

.link {
    color: variables.$linkColor;
    text-decoration: none;
    margin-top: 24px;
}