@use 'reset';
@use 'variables';
@use 'mixins';
@use 'buttons';

body {
    background-color: variables.$primaryColor;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.title {
    @include mixins.title()
}

.title-small {
    @include mixins.title-small()
}

.subtitle {
    @include mixins.subtitle()
}

.text-small {
    @include mixins.text-small()
}

.text-big {
    @include mixins.text-big()
}

.container {
    max-width: 546px;
    margin: auto;

    &--nav {
        width: 100%;
        margin: auto auto 12px auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        justify-self: end;
    }

    &--security {
        max-width: 550px;
        margin: 32px auto auto auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.nav {
    background-color: variables.$primaryColor;
    width: 100%;
    height: 116px;
    display: flex;
    border-bottom: .5px solid variables.$primaryStrokeColor;

    &--security {
        height: 64px;
    }

    &__link {
        margin-right: 16px;
        display: flex;
        align-items: center;

        &__icon {
            height: 24px;
            width: 24px;
        }
    }

    &__title {
        color: variables.$secondaryTextColor;
    }
}

.message {
    margin-top: 32px;
    margin-bottom: 28px;
    color: variables.$primaryTextColor;

    &__text {
        max-width: 552px;
        margin-bottom: 8px;  
    }

    &__link {
        color: variables.$linkColor;
        text-decoration: none;
    }
}

.item {
    width: 100%;
    min-height: 104px;
    border-radius: 10px;
    border: .5px solid variables.$secondaryStrokeColor;
    padding: 12px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    &__title {
        position: absolute;
        top: 12px;
        left: 12px;
    }

    &__content {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &__main {   
            width: 140px;
            display: flex;
            flex-direction: column;

            .device {
                color: variables.$tertiaryTextColor;
                line-height: 17px;
            }

            .local {
                color: variables.$primaryTextColor;
            }

            .browser {
                color: variables.$primaryTextColor;
            }

            .section {
                color: variables.$primaryTextColor;
                display: flex; 
                align-items: center;
                gap: 4px;
                margin-top: 8px;

                &--danger {
                    color: variables.$primaryDangerColor;
                }
            }
        }

        &__aside {
            width: 110px;
            display: flex;
            justify-content: flex-end;
        }
    }

    .stroke {
        width: 240px;
        height: 1px;
        background-color: variables.$secondaryStrokeColor;
        margin: 12px 0px;
    }

    .activity-icon {
        width: 14px;
        height: 14px;
    }
}

.status {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: variables.$tertiaryGreenColor;
    display: flex;
    align-items: center;
    justify-content: center;

    &--danger {
        background-color: variables.$secondaryDangerColor;
    }

    &__icon {
        width: 38px;
        height: 50.5px;
    }

    &__title {
        margin-top: 16px;
        margin-bottom: 2px;
        color: variables.$secondaryTextColor;
    }

    &__subtitle {
        margin-bottom: 28px;
        color: variables.$primaryTextColor;
    }
}

.accordions {
    width: 100%;

    .accordion {
        width: 100%;
        height: 72px;
        display: flex;
        align-items: center;
        border: 1px solid variables.$secondaryStrokeColor;
    
        &:first-child {
            border-radius: 10px 10px 0px 0px;
        }
    
        &:nth-child(5) {
            border-radius: 0px 0px 10px 10px;
        }
    
        &__head {
    
            &__title {
                width: 434px;
                color: variables.$secondaryTextColor;
            }

            &__subtitle {
                color: variables.$primaryTextColor;

                &--danger {
                    color: variables.$primaryDangerColor;
                }
            }
        }
    
        &__left-icon {
            width: 24px;
            height: 24px;
            margin: 24px;
        }
    
        &__right-icon {
            width: 16px;
            height: 16px;
        }
    }
}

.link {
    color: variables.$linkColor;
    text-decoration: none;
    margin-top: 24px;
}