$primaryColor: #fff;
$primaryTextColor: #444746;
$secondaryTextColor: #202124;
$tertiaryTextColor: #1F1F1F;
$linkColor: #2962FF;
$currentSectionColor: #009DFF;
$primaryDangerColor: #FF2929;
$secondaryDangerColor: #EEE1E1;
$primaryGreenColor: #146C2E;
$secondaryGreenColor: #34A853;
$tertiaryGreenColor: #E1EEE5;
$primaryStrokeColor: #DADCE0;
$secondaryStrokeColor: #E1E3E1;
